.about-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h1 {
    color: #1d1d1d;
    margin-top: 20px;
  }
  
  .About p {
    color: black;
  }

  .me-img {
    height: 200px;
    border-radius: 50%;
  }
  